<div class='container text-center padded'>
  <div class="text-center" id="title-div">
    <table>
      <td>
        <h1 class="margin-none">La liste des cocktails</h1>
      </td>
      <td>
        &nbsp;&nbsp;<%= link_to "add a new cocktail", new_cocktail_path, class: "btn btn-primary" %>
      </td>
    </table>
  </div>
</div>

<div class='container'>
  <div class='row'>
  <% @cocktails.each do |cocktail| %>
    <div class='col col-xs-12 col-sm-6 col-md-4 col-lg-3'>
      <div class='card-white'>
        <div class="text-center imageContainer">
        <% if cocktail.picture_file_name %>
          <%= image_tag cocktail.picture.url(:thumb) %>
        <% else %>
          <%= image_tag 'cocktail_thumb.svg' %>
        <% end %>
        </div>
        <div class="text-center nameContainer">
          <h3><%= cocktail.name %></h3>
        </div>
        <div class="text-center btnContainer">
          <p><%= link_to "show details", cocktail_path(cocktail), class: "btn btn-success" %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<!-- pour avoir la table du 1er containe centrée (fait par Erward) -->
<% content_for :js do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      var marginLeft = ($('.container').first().width() - $('table').width()) / 2;
      $('#title-div').css('margin-left', marginLeft);
      $(window).on('resize', function() {
        var marginLeft = ($('.container').first().width() - $('table').width()) / 2;
        $('#title-div').css('margin-left', marginLeft);
      })
    })
  <% end %>
<% end %>
