<h1 class="text-center padded">La liste des cocktails</h1>

<div class='container'>
  <div class='row'>
    <% @cocktails.each do |cocktail| %>
    <div class='col col-xs-12 col-sm-6 col-md-4 col-lg-3'>
      <div class='card-white'>
        <div class="text-center imageContainer">
        <% if cocktail.picture_file_name %>
          <%= image_tag cocktail.picture.url(:thumb) %>
        <% else %>
          <%= image_tag 'cocktail_thumb.svg' %>
        <% end %>
        </div>
        <div class="text-center nameContainer">
          <h3><%= cocktail.name %></h3>
        </div>
        <div class="text-center btnContainer">
          <p><%= link_to "show details", cocktail_path(cocktail), class: "btn btn-success" %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<p class="text-center padded"><%= link_to "add a new cocktail", new_cocktail_path, class: "btn btn-primary" %></p>